@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: #101014;
    --color-text: #FDFDFC;
    --color-border: #202024;

    --color-dark-950: #1D1D25;
}

.dark {
    --color-background: #FDFDFC;
    --color-text: #101014;
    --color-border: #FDFDFC;
    --color-dark-950: #FDFDFC;
}